*.py[cod]
*.sw?
# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Logs
logs/
*.log
*.pid

# Configuration
keys.json

# Vim
.*.swp

# OSX
.DS_Store

# Static
static/

# Database
*.db
*.sqlite3
db/

# Runs
run/

# Media
media/

# OS Env
.env
*.env
