*.py[cod]
*.sw?
# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
# bin
# var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Logs
var/log/
var/log/nginx/
*.log

# Configuration
var/etc/config.json

# Vim
.*.swp

# OSX
.DS_Store

# Static
var/share/static/

# Database
*.db
*.sqlite3
var/lib/

# Runs
var/run/
*.pid
*.sock

# SSL
var/etc/ssl/server*

# Media
var/share/media/

# OS Env
# .env
# *.env
