# RabbitMQ
RABBITMQ_DEFAULT_USER=caffeine
RABBITMQ_DEFAULT_PASS=changeme
RABBITMQ_DEFAULT_VHOST=caffeine_vhost
RABBITMQ_ERLANG_COOKIE=changeme
RABBITMQ_NODENAME=rabbit@{{ project_name }}_rq
RABBITMQ_HIPE_COMPILE=1


# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
PGDB_NAME=caffeinedb
PGDB_USER=caffeine
PGDB_PASS=changeme
