{% templatetag openblock %} load staticfiles {% templatetag closeblock %}

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% templatetag openblock %} url 'home' {% templatetag closeblock %}">
                <img alt="{{ project_name }}" src="{% templatetag openblock %} static 'assets/img/app_32x32.png' {% templatetag closeblock %}">
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <div class="navbar-form navbar-left" role="search">
                <!-- Navbar left controls here -->
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% templatetag openblock %} if user and not user.is_anonymous {% templatetag closeblock %}
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <strong>{% templatetag openvariable %} user.get_full_name|default:user.username {% templatetag closevariable %}</strong>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="{% templatetag openblock %} url 'auth:logout' {% templatetag closeblock %}?next={% templatetag openvariable %} request.path {% templatetag closevariable %}">Sign out</a>
                        </li>
                    </ul>
                </li>
                {% templatetag openblock %} else {% templatetag closeblock %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Sign in
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="{% templatetag openblock %} url 'social:begin' 'twitter' {% templatetag closeblock %}?next={% templatetag openvariable %} request.path {% templatetag closevariable %}">Twitter</a>
                        </li>
                    </ul>
                </li>
                {% templatetag openblock %} endif {% templatetag closeblock %}
            </ul>
        </div>
    </div>
</nav>
