{% templatetag openblock %} extends 'base.html' {% templatetag closeblock %}

{% templatetag openblock %} block page_title {% templatetag closeblock %}{{ project_name }} ~{% templatetag openvariable %} user.get_full_name|default:user.username {% templatetag closevariable %}{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block main {% templatetag closeblock %}
{% templatetag openblock %} include 'navigation.html' {% templatetag closeblock %}

<section>
    <div class="container">
        <div class="row">
            <h1>{% templatetag openvariable %} view_user.get_full_name|default:view_user.username {% templatetag closevariable %}</h1>
        </div>
    </div>
</section>

{% templatetag openblock %} endblock {% templatetag closeblock %}
