{% templatetag openblock %} extends 'base.html' {% templatetag closeblock %}

{% templatetag openblock %} block title {% templatetag closeblock %}{{ project_name }} - Home{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block main {% templatetag closeblock %}

<section>
    <div class="container">
        <div class="row">
            <h1>Welcome to {{ project_name }}!</h1>
            <p>Use this as the beggining of awesome.</p>
        </div>
    </div>
</section>

{% templatetag openblock %} endblock {% templatetag closeblock %}
