{% templatetag openblock %} extends 'base.html' {% templatetag closeblock %}

{% templatetag openblock %} block title {% templatetag closeblock %}{{ project_name }} - Profile - {% templatetag openvariable %} user.get_full_name|default:user.username {% templatetag closevariable %} | edit{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block main {% templatetag closeblock %}

<section>
    <div class="container">
        <div class="row">
            <h1>Editing profile for <strong>{% templatetag openvariable %} user.get_full_name|default:user.username {% templatetag closevariable %}</strong></h1>
        </div>
    </div>
</section>

{% templatetag openblock %} endblock {% templatetag closeblock %}
