{% templatetag openblock %} extends 'base.html' {% templatetag closeblock %}

{% templatetag openblock %} block title {% templatetag closeblock %}{{ project_name }} - Page not found{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block main {% templatetag closeblock %}

<section>
    <div class="container">
        <div class="row">
            <h1>Whatever it is, it's not here Johnny.</h1>
        </div>
    </div>
</section>

{% templatetag openblock %} endblock {% templatetag closeblock %}
