{% templatetag openblock %} extends 'base.html' {% templatetag closeblock %}

{% templatetag openblock %} block title {% templatetag closeblock %}{{ project_name }} - Error 500{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block main {% templatetag closeblock %}

<section>
    <div class="container">
        <div class="row">
            <h1>Whoopsie something unexpected happened!</h1>
        </div>
    </div>
</section>

{% templatetag openblock %} endblock {% templatetag closeblock %}
